<template>
    <tr>
        <td class="col-sm-8 col-md-6">
            <div class="media">
                <a class="thumbnail pull-left" href="#">
                    <img :src="link + '/' + item.imageUrl" :alt="item.name" style="max-width: 72px; max-height: 72px;">
                </a>
                <div class="media-body">
                    <h5>{{ item.name }}</h5>
                </div>
            </div>
        </td>
        <td class="col-sm-1 col-md-1" style="text-align: center">
            <strong>{{ item.quantity }}</strong>
        </td>
        <td class="col-sm-1 col-md-1 text-center"><strong>{{ item.price }}</strong></td>
        <td class="col-sm-1 col-md-1 text-center"><strong>{{ item.price * item.quantity }}</strong></td>
        <td class="col-sm-1 col-md-1">
            <button type="button" class="btn btn-danger" @click="removeFromCart(item.id, 1)">
                <span class="glyphicon glyphicon-remove"></span> Retirer
            </button>
        </td>
    </tr>
</template>

<script>
export default {
    props: {
        item: Object,
        link: String,
        removeFromCart: Function
    }
};
</script>

<style>
.media {
    display: flex;
    align-items: center;
}

.thumbnail {
    margin-right: 10px;
}

.media-body {
    flex: 1;
}
</style>