<template>
  <div class="row product-grid p-2">
    <div class=" border rounded product-card mb-3 p-2">
      <div class="pro-img d-flex justify-content-center">
        <a href="">
          <img :src="link + '/' + product.imageUrl" :alt="product.name" style="width: 180px; height: 180px"
            class="rounded">
        </a>
      </div>
      <div>
        <div>
          <span class="text-center">ID: #{{ product.id }}</span>
        </div>
        <div>
          <label style="font-size: 14px;"><strong>{{ product.name }}</strong></label>
        </div>
        <div>Stock : <strong>{{ product.quantity }}</strong> - Prix: <strong>{{ product.price }} €</strong></div>
      </div>
      <button class="btn" :class="{ 'btn-primary': product.quantity > 0, 'btn-danger': product.quantity === 0 }"
        @click="addToCart(product.id, 1)" :disabled="product.quantity === 0">
        {{ product.quantity === 0 ? 'Stock épuisé' : 'Ajouter au panier' }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: Object,
    link: String,
    addToCart: Function
  }
};
</script>
<style>
.pro-box {
  background-color: #fff;
  border-radius: 8px;
  width: 96%;
  margin: auto;

}

.product-card {
  max-width: 250px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 95%;
  margin: auto;
}

.product-card label::first-letter {
  text-transform: uppercase;
}

.pro-img img {
  transition: 1s;
  cursor: pointer;
}

.pro-img:hover {
  transform: scale(1.1);
}
</style>