<template>
  <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand">Ajouter un produit</a>
      <form class="form-inline">
          <button class="btn btn-outline-success my-2 my-sm-0" @click="goToListProduct">Retour</button>
      </form>
  </nav>
  <div class="container">
    <form @submit.prevent="addProduct">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="Name">Nom du produit:</label>
          <input type="text" v-model="productName" required class="form-control" id="Name" placeholder="Nom">
        </div>
        <div class="form-group col-md-6">
          <label for="Price">Prix:</label>
          <input type="number" v-model="productPrice" required class="form-control" id="Price" placeholder="Prix">
        </div>
      </div>
  
      <div class="row">
        <div class="form-group col-md-6">
          <label for="Quantity">Quantité:</label>
          <input type="text" v-model="productQuantity" required class="form-control" id="Quantity" placeholder="Quantité">
        </div>
        <div class="form-group col-md-6">
          <label for="Price">Image:</label>
          <input type="file" class="form-control" @change="onFileChange" accept="image/*" required>
        </div>
      </div>
      
      
      <button type="submit" class="btn btn-primary mt-2">Valider</button>
    </form>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from '../stores/userStore';

export default {
  setup() {
    const store = useStore();
    const productName = ref('');
    const productPrice = ref(0);
    const productQuantity = ref(0);
    let imageFile = null;
    const router = useRouter();

    const addProduct = async () => {
      const formData = new FormData();
      formData.append('name', productName.value);
      formData.append('price', productPrice.value);
      formData.append('quantity', productQuantity.value);
      formData.append('image', imageFile);

      await store.addProduct(formData);
      router.push('/');
    };

    const goToListProduct = () => {
            router.push('/');
        }

    const onFileChange = (event) => {
      imageFile = event.target.files[0];
    };

    return {
      productName,
      productPrice,
      productQuantity,
      addProduct,
      onFileChange,
      goToListProduct
    };
  }
};
</script>
