<template>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Liste des produits</a>
        <div class="form-group mr-2">
            <select v-model="isAdmin" class="form-control" id="userType">
              <option value="false">Utilisateur</option>
              <option value="true">Administrateur</option>
            </select>
          </div>
        <form class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0" v-if="isAdmin === 'true'" @click="goToAddProduct">Ajouter un produit</button>
        </form>
    </nav>
    <div class="row">
        <div class="col-md-4" v-for="product in products" :key="product.id">
            <ProductComponent :product="product" :link="link" :addToCart="addToCart" />
        </div>
    </div>
    <h2>Panier</h2>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th class="text-center">Prix</th>
                        <th class="text-center">Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <CartComponent v-for="item in cart" :key="item.id" :item="item" :link="link"
                        :removeFromCart="removeFromCart" />
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import { useStore } from '../stores/userStore';
import { onMounted, ref, watch } from 'vue';
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';
import ProductComponent from '@/components/ProductComponent.vue';
import CartComponent from '@/components/CartComponent.vue';

export default {
    components: {
        ProductComponent,
        CartComponent
    },
    setup() {
        const store = useStore();
        const link = "http://localhost:3000/uploads/";
        const router = useRouter();
        const { products, cart } = storeToRefs(store);
        const isAdmin = ref(localStorage.getItem('isAdmin') || 'false');

        watch(isAdmin, (newValue) => {
      localStorage.setItem('isAdmin', newValue); // Mettre à jour la valeur d'isAdmin dans le localStorage
    });

        const addToCart = (productId, quantity) => {
            store.addToCart(productId, quantity);
        };
        const removeFromCart = (productId, quantity) => {
            store.removeFromCart(productId, quantity);
        };
        const goToAddProduct = () => {
            router.push('/add-product');
        }

        onMounted(() => {
            store.fetchProducts();
        });

        return {
            products,
            cart,
            addToCart,
            removeFromCart,
            goToAddProduct,
            link,
            isAdmin
        };
    },
};
</script>